.card1{
    background-color:#FF6060;
    
    display: flex;
    border-radius: 10px;
    margin: 10px; 
    flex-direction: column-reverse;
    justify-content: space-between;
    
    flex-wrap: wrap;
    
    min-width: 335px;
    padding: 5px;
}

@media screen and (width <=805px ){
    .card{
        flex-basis:100%;
        margin: 0;
        margin-bottom: 10px;
    }
    
}

.appartements-list {
    display: flex;
    flex-basis: 25vw;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    color: black;
    padding: 20px;
    border-radius: 10px;
    min-height: 50px;
    
  }
  
  .cover-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  