.Grille {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-top: 20px;
}

@media screen and (width <=805px ){
    .Grille{
        background-color: white;
    }
    
}
@media screen and (width <=805px ){
    .card{
        flex-basis:100%;
        margin: 0;
        margin-bottom: 10px;
    }
    
}

.appartements-list {
    display: flex;
    flex-basis: 25vw;
    flex-wrap: wrap;
    gap: 20px;
  }
  
.card {
    color: black;
    padding: 20px;
    border-radius: 10px;
    min-height: 50px;
    
  }
  .card-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1; /* Garde le conteneur carré */
    border-radius: 10px;    
  }

  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
    display: block;
  }

  /*Effet noir pour mieux lire le titre dans la carte */
  .card-content::after {
    content: "";
    border-radius: 10px;
    pointer-events: none; /* Empêche le dégradé de bloquer les clics sur le lien */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }

  .card-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 1em; 
    z-index: 1;
    }
  