.banner-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Centre la bannière horizontalement */
  margin-top: 20px; /* Garde la marge supérieure */
}

.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 200px;
  border-radius: 25px;
  display: grid;
  place-items: center;
  width: 90vw; /* Limite la largeur à 90% de la vue, alignée à la `navbar` */
  max-width: 90vw;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couche sombre noire avec opacité 50% */
  border-radius: 25px;
  z-index: 1;
}

.banner h1 {
  position: relative;
  z-index: 2; /* Le texte au-dessus de la superposition */
  color: white;
  font-weight: 700;
}

@media screen and (max-width: 805px) {
  .line-break {
    display: block;
  }
  .banner {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    border-radius: 25px;
    display: grid;
    align-items: center; /* Centre le contenu verticalement */
    justify-content: start; /* Aligne le contenu à gauche */
    padding-left: 20px; /* Ajoute un peu de marge à gauche pour le texte */
    width: 90vw; /* Limite la largeur à 90% de la vue, alignée à la `navbar` */
    max-width: 90vw;
  }
  
}
