.collapse-container {
  width: 80vw; /* Assure une largeur appropriée à la page 'A Propos' */
  max-width: 1440px; /* Conserve une limite de largeur à 80vw */
margin-top: 10px;
  box-sizing: border-box; /* Inclut padding et bordure dans la largeur totale */
}
.collapse-container.fiche {
  width: 40vw; /* Largeur pour la page Fiche */
  max-width: 40vw;
}

  
  .collapse-header {
    background-color: #FF6060;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  .collapse-header:hover {
    background-color: #FF6060; /* Couleur légèrement plus sombre au survol */
  }
  
  .collapse-content {
    padding: 15px 20px;
    background-color: #F6F6F673;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .collapse-header h4 {
    margin: 0;
    font-size: 1.2em;
  }
  


  
  @media screen and (max-width: 805px) {
    .collapse-container{
      max-width: 90vw;
    }
  }

  .collapse-header span {
    font-size: 1.5em; /* Taille de la flèche */
    transition: transform 0.3s ease-in-out; /* Animation de la rotation */
    display: inline-block; /* Assure que la transformation affecte bien l'élément */
    transform: rotate(0deg); /* Flèche initiale vers le haut */
  }
  
  .collapse-icon.rotate {
    transform: rotate(-180deg); /* Tourne d'un demi-tour vers la gauche */
  }
  
  .collapse-content-wrapper {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease; /* Animation de la hauteur */
  }
  
  .collapse-content {
    padding: 15px 20px;
    background-color: #F6F6F673;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  