.fiche-container {
    width: 100%; 
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
  }
  
  .Fiche {
    max-width: 90vw; 
    width: 100%; 
    padding: 20px; 
   
  }

h1{
    font-family: Montserrat;
    font-size: 36px;
    color: #FF6060;
    margin-bottom: 0;
    font-weight:lighter;
}
h2{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bolder;

}
.tag {
  background-color: #FF6060;
  color: #ffffff;            
  padding: 5px 10px;        
  border-radius: 20px;       
  margin-right: 5px;              
  font-size: 14px;           
  font-weight: bold;  
  display: flex;              
  align-items: center;        
  justify-content: center;    
  text-align: center;         
  flex-grow: 1;               
  min-width: 40px;            
  max-width: 150px; 
       
}
.tags-container {
  display: flex;             
  flex-wrap: wrap;           
  gap: 10px;                 
}

