html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    
  }
  
  #app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  .main-content {
    width: 100%;
    max-width: 1440px; /* Assure une largeur maximale */
    flex: 1; }
  
  .footer {
    background-color: black;
    color: white;
    padding-top: 25px;
    margin-top: 10px;
    display: grid;
    justify-items: center;
    
    width: 100%; /* Assure que le footer prend toute la largeur */
  }
  
  .footer img {
    width: 122px;
  }
  
  @media screen and (max-width: 805px) {
    .footer p span {
      justify-content: center;
    }
  }

  
  